# Publish artifacts to GitHub Packages on push to master branch
name: Publish

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  publish:
    runs-on: ubuntu-22.04
    env:
      JAVA_VERSION: '21'
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Setup Gradle v.8.14
        uses: gradle/actions/setup-gradle@v5
        with:
          gradle-version: '8.14'

      - name: Publish to GitHub Packages
        env:
          GPR_USER: ${{ github.actor }}
          GPR_KEY: ${{ secrets.GPR_KEY }}
        run: ./gradlew publish -Pgpr.user=$GPR_USER -Pgpr.key=$GPR_KEY
